@model Project_CapStone_Mentorship_Service.Models.Sign_UpForm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<h1>Edit</h1>

<h4>Sign_UpForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormId" />
            <div class="form-group">
                <label asp-for="Studnet_Name" class="control-label"></label>
                <input asp-for="Studnet_Name" class="form-control" />
                <span asp-validation-for="Studnet_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Need_for_Academic_Help" class="control-label"></label>
                <input asp-for="Need_for_Academic_Help" class="form-control" />
                <span asp-validation-for="Need_for_Academic_Help" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor_Name" class="control-label"></label>
                <input asp-for="Mentor_Name" class="form-control" />
                <span asp-validation-for="Mentor_Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTutor" /> @Html.DisplayNameFor(model => model.IsTutor)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

